@model List<string>
@{
    ViewData["Title"] = "CustomerIntersectByCity";
    Layout = "~/Views/Layout/Index.cshtml";
}

<h1>kesişim kümesi Ankara-İstanbul olan müşteriler</h1>

<ul>
    @foreach(var item in Model)
    {
        <li>@item</li>
    }
</ul>

