
@{
    ViewData["Title"] = "AllStockSmallerThen5";
    Layout = "~/Views/Layout/Index.cshtml";
}


<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Tüm Stoklar 5'den az mı?</h3>
                <br />
                <div class="alert alert-success">@ViewBag.v</div>
            </div>
        </div>
    </div>
</div>
